<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--推送ip和端口-->
    <add key="pubIP" value="127.0.0.1"/>
    <add key="pubPort" value="1234"/>
    <!--接收消息和端口-->
    <add key="subIP" value="127.0.0.1"/>
    <add key="subPort" value="5678"/>
  </appSettings>
</configuration>